<div id="mobile-navbar" class="mobile-navbar" style="position: static">
  <div class="mobile-header-logo">
    <a href="{{ "/" | relURL }}" class="logo">
              <img class="logoImage" style="height:20px; margin-right: 5px;"></img>
      {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
      {{- else -}}
       {{ .Site.Title }}
      {{- end -}}
    </a>
  </div>
  <div class="mobile-navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<nav id="mobile-menu" class="mobile-menu slideout-menu" style="background: none">
  <ul class="mobile-menu-list">
    {{ range .Site.Menus.main -}}
      <a href="{{ .URL | safeURL }}">
        <li class="mobile-menu-item">{{ .Name }}</li>
      </a>
    {{- end }}
    <img src="/img/chiyo-chichi.png" id="slideout-chiyochichi"> 
    <script>
      {
      var chiyo_chichi_float = document.getElementById("slideout-chiyochichi")
      var callback;
      callback = function() { chiyo_chichi_float.style.paddingTop = (10+Math.floor(10*Math.sin(Date.now()/1000)))+"px" ; requestAnimationFrame(callback) }
      requestAnimationFrame(callback)
      }
    </script>
  </ul>
</nav>