{{ define "content" }}
	<div id="searchbar-div">
		<div><input class="button" type="button" onclick="location.reload()"></div>
		<div><input id="searchbar" type="text" onkeyup="searchDocs()" placeholder="Search posts..."></div>
	</div>
	<style>
	#spacebar-div div {
		display: table-cell;
		background-color: #000000;
		width: 100%;
	}
	#searchbar-div {
		width: 70%;
		margin-top: 20px;
		display: table;
	}
	#searchbar-div div .button {
		background:url('/css/chronological.png');
		opacity: 0.7;
		background-repeat: no-repeat;
		width:40px;
		white-space: nowrap;
		position: absolute;
		height:40px;
		border: 0;
	}
	#searchbar {
	    background-image: url('/css/searchicon.png');
	    background-position: 10px 12px;
	    background-repeat: no-repeat;
	    padding: 12px 20px 12px 40px;
	    width: 100%;
	    margin-left: 50px;
	    border: 1px solid {{ .Site.Params.globalColor1 }};
	}
	</style>
  <section id="project" class="project">
    {{ range .Data.Pages }}
        {{ .Render "summary" }}
    {{ end }}
  </section>
    <script src='/js/elasticlunr.min.js'></script>
	<script type="text/javascript">
   	var searchIndex = elasticlunr(function () {
	    this.addField('title');
	    this.addField('tags');
	    this.addField('content');
	    this.setRef('title');
	});
	{{ range .Data.Pages }}
        searchIndex.addDoc({
        	"title" : {{ .Title | safeHTML }},
        	"tags" : "{{ if .Params.tags }}{{ delimit .Params.tags " " | safeHTML }}{{ end }}",
        	"content" : {{ .Plain | safeHTML }}
        })
    {{ end }}
    var resultCards = document.getElementsByClassName("post")
	var sortCmp = function (a, b) { return b.score - a.score; }
	var swapCards = function(a, b) {
		if(a == b) return
		var temp = a.innerHTML
		a.innerHTML = b.innerHTML
		b.innerHTML = temp
		temp = a.id
		a.id = b.id
		b.id = temp
	}
	var searchDocs = function() {
		var query = document.getElementById("searchbar").value
		var results = searchIndex.search(query, {
		    fields: {
		        tags: {
		            boost: 2,
		            expand: false
		        },
		        title: {boost: 3},
		        content : {boost : 1}
		    },
		    expand: true
		})
		console.log(results)
		results.sort(sortCmp)
		for(var i=0; i<results.length; i++) {
			swapCards(resultCards[i], document.getElementById(results[i].ref))
		}
	}
	</script>
{{ end }}